<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Edita tu template
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="panel panel-primary">
                <div class="panel-heading"> Personaliza el aspecto de tu almacen </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>CSS</label>
                        <textarea class="form-control" rows="7" ng-model="almacen.personalizacion"> </textarea> </div>
                        <button class="btn btn-sm btn-success" ng-click="editarTemplateCtrl.guardarPersonalizacion()">Guardar</button>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"> Categorías de tu almacen </div>
                <div class="panel-body">
                    <p class="help-block">Puedes editar tus categorías, eliminando alguna de las actuales o agregando una nueva.</p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="categoria in editarTemplateCtrl.template.categorias">
                                <td> {{ categoria.nombre }}</td>
                                <td> {{ categoria.descripcion }} </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" ng-click="editarTemplateCtrl.eliminarCategoria(categoria.id)">Eliminar</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading"> Más categorías </div>
                <div class="panel-body">
                    <p class="help-block">Selecciona una categoría genérica para agregar a tu almacén.</p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="categoria in editarTemplateCtrl.allCategorias">
                                <td> {{ categoria.nombre }}</td>
                                <td> {{ categoria.descripcion }} </td>
                                <td>
                                    <a class="btn btn-sm btn-success" ng-click="editarTemplateCtrl.agregarCategoria(categoria.id)">Agregar</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading"> Nueva categoría </div>
                <div class="panel-body">
                    <p class="help-block">Crea una nueva categoría para tu almacén.</p>
                    <tbody>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" ng-model="categoria.nombre">
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" rows="3" ng-model="categoria.descripcion">
                        </textarea>
                    </div>
                    <td>
                        <a class="btn btn-sm btn-success" ng-click="editarTemplateCtrl.crearCategoria(categoria.nombre, categoria.descripcion)">Agregar</a>
                    </td>
                    </tbody>
                </div>
            </div>

            <button type="button" ng-click="editarTemplateCtrl.agregarCategoriasAlmacen()" style="margin: 20px 0px 20px 0px" class="btn btn-outline btn-primary btn-lg btn-block">Confirmar categorias</button>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>