<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Colaboradores</h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Todos tus colaboradores
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Almacen</th>
                                <th>Accion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="colaborador in colaboradores">
                                <td> {{ colaborador.id }}</td>
                                <td> {{ colaborador.tienda }} </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" ng-click="eliminarColaborador(colaborador.id)">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
