<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats string="" comments="¡Crear nuevo almacén!" colour="primary" type="star" goto="dashboard.crearAlmacen.datos"></stats>
        <stats number="{{dashboard.cantidad_almacenes}}" comments="Almacenes!" colour="primary" type="shopping-cart" goto="dashboard.almacenes"></stats>
        <stats number="{{dashboard.cantidad_colaboradores}}" comments="Colaboradores!" colour="primary" type="user" goto="dashboard.listarColaboradores"></stats>
        <stats number="{{dashboard.cantidad_notificaciones}}" comments="Notificaciones!" colour="{{dashboard.cantidad_notificaciones > 0 ? 'yellow' : 'primary'}}" type="support" goto="dashboard.notificaciones"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Últimas noticias
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="max-height: 400px;  overflow-y: scroll;">
                    <ul class="timeline">
                        <li ng-class-odd="'timeline-inverted'" ng-class-even="'timeline'"
                            ng-repeat="notificacion in notifLimitesCuenta.slice().reverse()">
                            <div class="timeline-badge"><i class="fa fa-comment"></i>
                            </div>
                            <div class="timeline-panel">
                                <p>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i> Administrador via
                                        notificacion
                                    </small>
                                <div class="timeline-body">
                                    <p>{{notificacion.mensaje}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Tus notificaciones
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="notificacion in notificacionesStock">
                                <i class="fa fa-warning fa-fw"></i> {{notificacion.mensaje}}
                                <!--<span class="pull-right text-muted small"><em>10:57 AM</em></span>-->
                            </a>

                        </div>

                        <div ng-if="!notificacionesStock.length" class="divider">
                            <span class="text-center" href="#">
                                <strong>No tienes notificaciones</strong>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel -->

            <!--<chat></chat>-->
             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
