<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Bienvenido al almacén {{almacen.nombre}} </h1>


            <div class="panel-body">
                <h2>Datos del almacen</h2>
                <div class="dataTable_wrapper">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th>Nombre </th>
                                <td>{{almacen.nombre}}</td>
                            </tr>
                            <tr>
                                <th>Descripción </th>
                                <td>{{almacen.descripcion}}</td>
                            </tr>
                            <tr>
                                <th>Administrador</th>
                                <td>{{almacen.usuario}}</td>
                            </tr>
                            <tr>
                                <th>¿Es privado?</th>
                                <td>{{almacen.privado}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <h2>Todos los colaboradores</h2>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTable-colaboradores">
                        <thead>
                        <tr>
                            <th>Nombre de usuario</th>
                            <th>Nombre </th>
                            <th>Apellido </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="colaborador in colaboradores">
                            <td> {{ colaborador.id }}</td>
                            <td> {{ colaborador.nombre }}</td>
                            <td> {{ colaborador.apellido }} </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"> Agregar colaborador </h1>
                    </div>
                    <form>

                        <div class="form-group">
                            <label>Buscar usuario: </label>
                            <input class="form-control" ng-model="searchterm">

                            <p class="help-block">Ingresa un identificador del usuario que quieres agregar como colaborador.</p>
                        </div>
                        <div class="form-group">

                            <label>Usuarios que cumplen el criterio de búsqueda: </label>

                            <div class="list-group">

                                <a ng-repeat="usuario in usuarios" ng-click="seleccionarUsuario(usuario.id)" class="list-group-item">
                                    {{ usuario.id + " - " + usuario.nombre + " " + usuario.apellido}}
                                </a>
                            </div>
                            <p class="help-block">{{ usuarioSeleccionado }}</p>
                        </div>


                        <!--<div class="form-group">
                            <label>Seleccione un almacen</label>
                            <select class="form-control" ng-model="almacenId">
                                <option ng-repeat="almacen in almacenes"> {{almacen.id}} </option>
                            </select>
                        </div>-->

                        <button type="button" ng-click="mostrarAlmacenCtrl.agregarColaborador()" style="margin: 20px 0px 20px 0px" class="btn btn-outline btn-primary btn-lg btn-block"> Alta colaborador </button>

                    </form>
                </div>
                <!-- /.row -->
            </div>

            <div class="panel-body">
                <h2>Todas las categorias</h2>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTable-categorias">
                        <thead>
                        <tr>
                            <th>Nombre </th>
                            <th>Descripcion </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="categoria in categorias">
                            <td> {{ categoria.nombre }}</td>
                            <td> {{ categoria.descripcion }} </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-info" >
                <div class="panel-heading">
                    Nueva categoría
                </div>
                <div class="panel-body" collapse="false" id="nueva-categoria">
                    <p class="help-block">Crea una nueva categoría para tu almacén.</p>
                    <tbody>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" ng-model="categoria.nombre">
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" rows="3" ng-model="categoria.descripcion">
                        </textarea>
                    </div>
                    <td>
                        <a class="btn btn-sm btn-success" ng-click="mostrarAlmacenCtrl.crearCategoria(categoria.nombre, categoria.descripcion)">Agregar</a>
                    </td>
                    </tbody>
                </div>
            </div>

            <div class="panel-body">
                <h2>Todos los productos</h2>

                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTable-productos">
                        <thead>
                        <tr>
                            <th>Nombre </th>
                            <th>Descripcion </th>
                            <th>Acciones </th>
                            <th>Stock </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="producto in productos">
                            <td> {{ producto.nombre }}</td>
                            <td> {{ producto.descripcion }} </td>
                            <td>
                                <a class="btn btn-sm btn-success" ng-click="aumentarStockProducto(producto.productoID)">
                                    <p class="fa fa-plus" />
                                </a>
                                <a class="btn btn-sm btn-danger" ng-click="reducirStockProducto(producto.productoID)">
                                    <p class="fa fa-minus" />
                                </a>
                                <a class="btn btn-sm btn-info" ng-click="actualizarStockProducto(producto.productoID, producto.cantidad, producto.nombre)">
                                    <p class="fa fa-refresh" />
                                </a>
                            </td>
                            <td>
                                {{ producto.cantidad }}
                            </td>

                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading"> Nuevo producto </div>
                <div class="panel-body">
                    <p class="help-block">Crea un nuevo producto para tu almacén.</p>
                    <tbody>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" ng-model="producto.nombre">
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" rows="3" ng-model="producto.descripcion">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label>Categoria</label>
                        <input class="form-control" ng-model="producto.categoria">
                    </div>
                    <td>
                        <a class="btn btn-sm btn-success" ng-click="mostrarAlmacenCtrl.crearProducto(producto.nombre, producto.descripcion, producto.categoria)">Agregar</a>
                    </td>
                    </tbody>
                </div>
            </div>

            <div class="panel-body">
                <h2>Carrito de compras</h2>

                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTable-carrito">
                        <thead>
                        <tr>
                            <th>Nombre </th>
                            <th>Descripcion </th>
                            <th>Acciones </th>
                            <th>Cantidad </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="producto in productos">
                            <td> {{ producto.nombre }}</td>
                            <td> {{ producto.descripcion }} </td>
                            <td>

                                <a class="btn btn-sm btn-success" ng-click="aumentarStockProducto(producto.productoID)">
                                    <p class="fa fa-plus" />
                                </a>
                                <a class="btn btn-sm btn-danger" ng-click="reducirStockProducto(producto.productoID)">
                                    <p class="fa fa-minus" />
                                </a>
                                <a class="btn btn-sm btn-info" ng-click="actualizarStockProducto(producto.productoID, producto.cantidad, producto.nombre)">
                                    <p class="fa fa-refresh" />
                                </a>
                            </td>
                            <td>
                                {{ producto.cantidad }}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-body">
                <h2>Webscrapping</h2>

                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTable-webscrapping">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="categoria in mercadolibre">
                            <td> {{ categoria.id }}</td>
                            <td> {{ categoria.name }} </td>
                            <td> <a class="btn btn-sm btn-primary" ng-click="mostrarAlmacenCtrl.seleccionarCategoria(categoria.id)">Seleccionar</a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <a class="btn btn-sm btn-success" ng-click="mostrarAlmacenCtrl.buscarCategorias()">Buscar categorias</a>

                <div class="panel-body">
                    <h2>Productos de Mercado Libre</h2>

                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="producto in catMercadoLibre">
                                <td> {{ producto.id }}</td>
                                <td> {{ producto.title }} </td>
                                <td> <a class="btn btn-sm btn-primary" ng-click="mostrarAlmacenCtrl.importarProducto(producto.id)">Importar</a> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>

        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos: {{almacen}}
                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
    </div>
    <!-- /.row -->
</div>


