<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Bienvenido al almacén {{almacen.nombre}} </h1>

            <div class="panel-body">
                <h2>Datos del almacen</h2>

                <div class="dataTable_wrapper">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th>Nombre</th>
                                <td>{{almacen.nombre}}</td>
                            </tr>
                            <tr>
                                <th>Descripción</th>
                                <td>{{almacen.descripcion}}</td>
                            </tr>
                            <tr>
                                <th>Administrador</th>
                                <td>{{almacen.usuario}}</td>
                            </tr>
                            <tr>
                                <th>¿Es privado?</th>
                                <td>{{almacen.privado}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- COMENTARIOS A NIVEL DE ALMACÉN -->

                <div class="col-lg-8">
                    <h2>Comentarios</h2>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Últimos comentarios
                        </div>
                        <div class="panel-body">
                            <ul class="timeline">
                                <li ng-class-odd="'timeline-inverted'" ng-class-even="'timeline'"
                                    ng-repeat="comentario in comentarios.slice().reverse()">
                                    <div class="timeline-badge success"><i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{comentario.usuario}}</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{comentario.comentario}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h2>Chat</h2>
                    <chat></chat>
                </div>

                <div class="col-lg-8">
                    <div class="panel panel-info">
                        <div class="panel-heading"> Nuevo comentario</div>
                        <div class="panel-body">
                            <tbody>
                            <div class="form-group">
                                <label>Comentario</label>
                        <textarea class="form-control" rows="3" ng-model="comentario.comentario">
                        </textarea>
                            </div>
                            <td>
                                <a class="btn btn-sm btn-success" ng-click="mostrarAlmacenCtrl.crearComentario(comentario)">Agregar</a>
                            </td>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


