<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Bienvenido al almacén {{almacen.nombre}} </h1>


            <div class="panel-body">
                <label>Datos del almacen</label>
                <div class="dataTable_wrapper">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th>Nombre </th>
                                <td>{{almacen.nombre}}</td>
                            </tr>
                            <tr>
                                <th>Descripción </th>
                                <td>{{almacen.descripcion}}</td>
                            </tr>
                            <tr>
                                <th>Administrador</th>
                                <td>{{almacen.usuario}}</td>
                            </tr>
                            <tr>
                                <th>¿Es privado?</th>
                                <td>{{almacen.privado}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <label>Todos los colaboradores</label>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTable-colaboradores">
                        <thead>
                        <tr>
                            <th>Nombre de usuario</th>
                            <th>Nombre </th>
                            <th>Apellido </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="colaborador in colaboradores">
                            <td> {{ colaborador.id }}</td>
                            <td> {{ colaborador.nombre }}</td>
                            <td> {{ colaborador.apellido }} </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-body">
                <label>Todas las categorias</label>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTable-categorias">
                        <thead>
                        <tr>
                            <th>Nombre </th>
                            <th>Descripcion </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="categoria in categorias">
                            <td> {{ categoria.nombre }}</td>
                            <td> {{ categoria.descripcion }} </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-body">
                <label>Todos los productos</label>
                
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTable-productos">
                        <thead>
                        <tr>
                            <th>Nombre </th>
                            <th>Descripcion </th>
                            <th>Acciones </th>
                            <th>Stock </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="producto in productos">
                            <td> {{ producto.nombre }}</td>
                            <td> {{ producto.descripcion }} </td>
                            <td>

                                <a class="btn btn-sm btn-success" ng-click="aumentarStockProducto(producto.productoID)">
                                    <p class="fa fa-plus" />
                                </a>
                                <a class="btn btn-sm btn-danger" ng-click="reducirStockProducto(producto.productoID)">
                                    <p class="fa fa-minus" />
                                </a>
                                <a class="btn btn-sm btn-info" ng-click="actualizarStockProducto(producto.productoID, producto.cantidad, producto.nombre)">
                                    <p class="fa fa-refresh" />
                                </a>
                            </td>
                            <td>
                                {{ producto.cantidad }}
                            </td>

                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>


        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos: {{almacen}}
                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
    </div>
    <!-- /.row -->
</div>


