<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Mi perfil </h1>
        </div>
        <form>
            <div class="form-group col-md-2">
                <img style="width: 120px;" class="profile-picture"
                     ng-src="{{usuario.picture || 'http://placehold.it/120x120'}}">
            </div>
            <div class="form-group col-md-10" style="border-left: 1px solid #eee;">
                <label>Nombre</label>
                <input class="form-control" ng-disabled="true" ng-model="usuario.nombre">

                <label>Apellido</label>
                <input class="form-control" ng-disabled="true" ng-model="usuario.apellido">
            </div>
        </form>


        <div class="col-lg-12" style="margin-top: 20px">
            <h2> Upgrade de plan </h2>

            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Planes disponibles
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Descrición</th>
                                    <th>Precio</th>
                                    <th>Accion</th>
                                    <th>Carrito</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="cuenta in cuentas">
                                    <td>{{cuenta.cuentaID}}</td>
                                    <td>{{cuenta.nombre}}</td>
                                    <td>{{cuenta.descripcion}}</td>
                                    <td>{{cuenta.precio}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" ng-click="seleccionarCuenta(cuenta.cuentaID)">
                                            Comprar!
                                        </a>
                                    </td>
                                    <td>
                                        <ngcart-addtocart id="{{ cuenta.cuentaID }}" name="{{ cuenta.nombre }}" price="{{ cuenta.precio }}" quantity="1" quantity-max="1" data="cuenta"></ngcart-addtocart>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ngcart-cart></ngcart-cart>
                <ngcart-checkout service="paypal"
                                 settings="{ url:'/checkout', item_number:'1', currency_code: 'USD'}">

                </ngcart-checkout>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>