<div class="container-fluid">
    <div class="row">

        <form ng-submit="crearAlmacen()" ng-controller="CrearAlmacenesCtrl">

            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" ng-model="almacen.nombre">

                <p class="help-block">Ingresa el nombre de tu tienda.</p>
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea class="form-control" rows="3" ng-model="almacen.descripcion">
                </textarea>
            </div>

        </form>
    </div>
    <!-- /.row -->
</div>