<div class="container-fluid">
    <div class="row">

        <form ng-submit="crearAlmacen()" ng-controller="CrearAlmacenesCtrl">

            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" ng-model="almacen.nombre">

                <p class="help-block">Ingresa el nombre de tu almacen.</p>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input class="form-control" ng-model="almacen.url">

                <p class="help-block">Ingresa un identificador para la url de tu almacen.</p>
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea class="form-control" rows="3" ng-model="almacen.descripcion">
                </textarea>
            </div>

            <button type="button" style="margin: 20px 0px 20px 0px" class="btn btn-outline btn-primary btn-lg btn-block">Confirmar datos</button>

        </form>
    </div>
    <!-- /.row -->
</div>