<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Notificaciones </h1>
        </div>
        <form>

            <div class="form-group">
                <label>Seleccione un almacen</label>
                <select class="form-control" ng-model="almacenId" placeholder="Seleccione un almacen" required>
                    <option ng-repeat="almacen in almacenes"> {{almacen.id}} </option>
                </select>
                <p class="help-block">Seleccione un almacen para listar todos sus productos, a continuación puede activar las notificaciones de stock
                para los productos que desee</p>
            </div>

            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Stock actual</th>
                            <th>Stock minimo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="producto in productos">
                            <td> {{ producto.nombre }}  </td>
                            <td> {{ producto.cantidad}} </td>
                            <td >

                                <a class="btn btn-sm btn-success" ng-click="producto.minimo = producto.minimo + 1">
                                    <p class="fa fa-plus" />
                                </a>

                                <span ng-model="stockMinimo">
                                    {{producto.minimo}}
                                </span>

                                <a class="btn btn-sm btn-danger" ng-click="producto.minimo = producto.minimo - 1">
                                    <p class="fa fa-minus" />
                                </a>
                            </td>
                            <td>
                                <a ng-if="producto.notifica == false" class="btn btn-sm btn-info" ng-click="activarNotificacion(producto, producto.minimo)">
                                    Activar notificación
                                </a>
                                <a ng-if="producto.notifica == true" class="btn btn-sm btn-warning" ng-click="desactivarNotificacion(producto, producto.minimo )">
                                    Desactivar notificación
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>
    <!-- /.row -->
</div>