<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading"> Top 4 movimientos de mis almacenes </div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                click="line.onClick" series="line.series"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="bar-chart">
        <div class="panel panel-default">
            <div class="panel-heading"> Top 4 valorización de mis almacenes</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="pie-chart2">
        <div class="panel panel-default">
            <div class="panel-heading"> Visitas </div>
            <div class="panel-body">
                <canvas id="pie2" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="pie-chart3">
        <div class="panel panel-default">
            <div class="panel-heading"> Stock </div>
            <div class="panel-body">
                <canvas id="pie3" class="chart chart-pie chart-xs" data="pie2.data" labels="pie2.labels"></canvas>
            </div>
        </div>
    </div>
</div>